[submodule "TinySoundFont"]
	path = TinySoundFont
	url = https://github.com/schellingb/TinySoundFont.git
[submodule "LabSound"]
	path = LabSound
	url = https://github.com/LabSound/LabSound.git
[submodule "pocketmod"]
	path = pocketmod
	url = https://github.com/rombankzero/pocketmod.git
